.bfe.bottom-5 > .row {margin-bottom: 5px;}
.bfe.bottom-10 > .row {margin-bottom: 10px;}
.bfe.bottom-15 > .row {margin-bottom: 15px;}
.bfe.bottom-20 > .row {margin-bottom: 20px;}

.bfe.top-5 > .row {margin-top: 5px;}
.bfe.top-10 > .row {margin-top: 10px;}
.bfe.top-15 > .row {margin-top: 15px;}
.bfe.top-20 > .row {margin-top: 20px;}

pre[class*="language-"] { padding: auto; margin: auto; }

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout-info { border-left-color: #1b809e;}
